  /*========================================================
          DARK LAYOUT
  =========================================================*/
  .content-area-wrapper .content-right .content-wrapper {
    padding: 0; }

  .content-area-wrapper {
    border: 1px solid #dae1e7;
    border-radius: 0.25rem; }

  .chat-profile-sidebar {
    border-right: 1px solid #E4E7ED;
    height: calc(100vh - 13rem);
    height: calc(var(--vh, 1vh) * 100 - 13rem);
    width: 400px;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    background-color: #fff;
    position: fixed;
    transform: translateX(-110%);
    transition: all .3s ease;
    z-index: 6; }
    .chat-profile-sidebar.show {
      transform: translateX(0);
      transition: all .3s ease; }
    .chat-profile-sidebar .chat-profile-header {
      display: flex;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06); }
      .chat-profile-sidebar .chat-profile-header .header-profile-sidebar {
        margin: 2rem auto .5rem; }
      .chat-profile-sidebar .chat-profile-header .avatar {
        margin-bottom: 1.25rem; }
      .chat-profile-sidebar .chat-profile-header .close-icon {
        position: absolute;
        top: 14px;
        right: 13px;
        font-size: 1.75rem;
        cursor: pointer; }
    .chat-profile-sidebar .profile-sidebar-area .scroll-area {
      padding: 2rem;
      height: calc(100vh - 24.25rem);
      height: calc(var(--vh, 1vh) * 100 - 24.25rem);
      position: relative; }

  .sidebar-content {
    border-right: 1px solid #E4E7ED;
    height: calc(100vh - 13rem);
    height: calc(var(--vh, 1vh) * 100 - 13rem);
    width: 400px;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    box-shadow: none; }
    .sidebar-content .sidebar-close-icon {
      position: absolute;
      right: .25rem;
      top: .25rem;
      font-size: 1.25rem;
      z-index: 1;
      cursor: pointer;
      visibility: hidden; }
    .sidebar-content .chat-fixed-search {
      position: fixed;
      width: 400px;
      border-bottom: 1px solid #E4E7ED;
      padding: .65rem; }
      .sidebar-content .chat-fixed-search .sidebar-profile-toggle .avatar {
        display: inline-table;
        width: calc(32px + 8px); }
      .sidebar-content .chat-fixed-search input.form-control {
        padding: .9rem 1rem .9rem 3rem;
        height: calc(1.25em + 1.4rem + 4px); }
      .sidebar-content .chat-fixed-search .form-control-position {
        top: 5px; }
        .sidebar-content .chat-fixed-search .form-control-position i {
          left: 9px; }
    .sidebar-content .chat-user-list {
      height: calc(100% - 5rem);
      margin-top: 5rem;
      width: 400px; }
      .sidebar-content .chat-user-list ul {
        padding-left: 0;
        margin-bottom: 0; }
      .sidebar-content .chat-user-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.322rem .85rem;
        margin-right: 1px; }
        .sidebar-content .chat-user-list li:not(:first-child) {
          border-top: 1px solid #E4E7ED; }
        .sidebar-content .chat-user-list li .user-chat-info {
          width: 100%;
          display: flex;
          justify-content: space-between;
          overflow: hidden; }
        .sidebar-content .chat-user-list li .contact-info {
          width: calc(100vw - (100vw - 100%) - 1rem - 60px);
          margin-top: .3rem; }
          .sidebar-content .chat-user-list li .contact-info .truncate {
            margin: 0; }
        .sidebar-content .chat-user-list li:hover {
          cursor: pointer;
          background: #eee; }
        .sidebar-content .chat-user-list li.active {
          background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, 0.7));
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
          color: #fff; }
          .sidebar-content .chat-user-list li.active h1, .sidebar-content .chat-user-list li.active h2, .sidebar-content .chat-user-list li.active h3, .sidebar-content .chat-user-list li.active h4, .sidebar-content .chat-user-list li.active h5, .sidebar-content .chat-user-list li.active h6 {
            color: #fff; }
        .sidebar-content .chat-user-list li img {
          border: 2px solid #fff; }
    .sidebar-content .card {
      margin-bottom: 0; }
.contact-meta span{
  font-size: 10px;
}
  .chat-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    z-index: 2;
    visibility: hidden;
    border-radius: 0.25rem; }
    .chat-overlay.show {
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.2); }

  .chat-app-window .favorite, .chat-app-window .sidebar-toggle {
    cursor: pointer; }

  .chat-app-window .user-chats {
    padding: 20px 30px;
    position: relative;
    text-align: center;
    height: calc(100vh - 23.5rem);
    height: calc(var(--vh, 1vh) * 100 - 23.5rem); }

  .chat-app-window .start-chat-area, .chat-app-window .user-chats {
    background-image: url("../../images/backgrounds/chat-bg.svg");
    background-color: #dfdbe5; }

  .chat-app-window .start-chat-area {
    height: calc(100vh - 13rem);
    height: calc(var(--vh, 1vh) * 100 - 13rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .chat-app-window .start-chat-area .start-chat-icon, .chat-app-window .start-chat-area .start-chat-text {
      background: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08) !important; }
    .chat-app-window .start-chat-area .start-chat-text {
      border-radius: calc(0.5rem * 4);
      cursor: pointer; }
    .chat-app-window .start-chat-area .start-chat-icon {
      border-radius: 50%;
      font-size: 4rem;
      padding: 2rem; }

  .chat-app-form {
    padding: 20px 10px;
    background-color: white; }

  .chats {
    padding: 0; }
    .chats .chat-body {
      display: block;
      margin: 10px 30px 0 0;
      overflow: hidden; }
      .chats .chat-body .chat-content {
        text-align: right;
        display: block;
        float: right;
        padding: .75rem 1rem;
        margin: 0 20px 10px 0;
        clear: both;
        color: #fff;
        background: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, 0.7));
        border-radius: .5rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08); }
        .chats .chat-body .chat-content p {
          margin: 0; }
    .chats .chat-avatar {
      float: right; }
    .chats .chat-left .chat-avatar {
      float: left; }
    .chats .chat-left .chat-body {
      margin-right: 0;
      margin-left: 30px; }
    .chats .chat-left .chat-content {
      text-align: left;
      float: left;
      margin: 0 0 10px 20px;
      color: #626262;
      background: none;
      background-color: white; }

  .user-profile-sidebar {
    border-right: 1px solid #E4E7ED;
    height: calc(100vh - 13rem);
    height: calc(var(--vh, 1vh) * 100 - 13rem);
    width: 400px;
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    background-color: #fff;
    position: fixed;
    transform: translateX(110%);
    transition: all .3s ease;
    z-index: 6;
    right: 4.2rem;
    bottom: 5.25rem;
    opacity: 0; }
    .user-profile-sidebar.show {
      opacity: 1;
      transform: translateX(7%);
      transition: all .3s ease; }
    .user-profile-sidebar .user-profile-header {
      display: flex;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06); }
      .user-profile-sidebar .user-profile-header .header-profile-sidebar {
        margin: 2rem auto .5rem; }
      .user-profile-sidebar .user-profile-header .avatar {
        margin-bottom: 1.25rem; }
      .user-profile-sidebar .user-profile-header .close-icon {
        position: absolute;
        top: 14px;
        right: 13px;
        font-size: 1.75rem;
        cursor: pointer; }
    .user-profile-sidebar .user-profile-sidebar-area {
      height: calc(100vh - 24.25rem);
      height: calc(var(--vh, 1vh) * 100 - 24.25rem);
      position: relative; }

  .chat-left .chat-content{
    margin-left: 0 !important;
  }

  .chat .chat-body{
    margin: 0 !important;
    overflow: visible !important;
  }

  .chat-app-window .user-chats{
    /*height: 400px !important;*/
    overflow: auto !important;
  }

  .chat .chat-content{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .chat-left .chat-body{
    margin-left: 0 !important;
  }

  .chat .chat-content{
    position: relative;
  }

  .chat .chat-content::after{
      content: "";
      position: absolute;
      right: -16px;
      top: 10px;
      border: 8px solid #0000;
      border-left-color: #7367f0b8;
  }

  .chat-left .chat-content::before{
      content: "";
      position: absolute;
      left: -16px;
      top: 10px;
      border: 8px solid #0000;
      border-right-color: white;
  }

  .chat-left .chat-content::after{
    display: none;
  }



  @media (max-width: 767.98px) {
    .chat-app-window {
      height: calc(100% - 132px); }
    .sidebar-content .sidebar-close-icon {
      visibility: visible; } }

  @media (max-width: 575.98px) {
    .sidebar-content {
      width: 260px;
      left: -4px !important; }
      .sidebar-content .chat-fixed-search, .sidebar-content .chat-user-list {
        width: 260px; }
    .chat-profile-sidebar {
      width: 260px; }
    .user-profile-sidebar {
      width: 260px;
      right: 2.35rem; } }

  @media (max-width: 991.98px) {
    .content-right {
      width: 100%; }
    .sidebar-content {
      transform: translateX(-110%);
      transition: all .3s ease-in-out;
      left: 0;
      position: fixed;
      z-index: 5;
      left: -2px; }
      .sidebar-content.show {
        transform: translateX(8.5%);
        transition: all .3s ease;
        display: block; } }

  @media (max-width: 349.98px) {
    .sidebar-content {
      width: 230px;
      left: -2px !important; }
      .sidebar-content .chat-fixed-search, .sidebar-content .chat-user-list {
        width: 230px; }
    .chat-profile-sidebar {
      width: 230px; }
    .user-profile-sidebar {
      width: 230px; } }
